.right-menu {
  position: fixed;
  bottom: 70px;
  right: 0;
  z-index: 999;
}

.right-menu-item {
  display: block;
  width: 84px;
  height: 92px;
  background: #fff;
  border: 1px solid #f5f5f5;
  border-bottom: 0;
  text-align: center;
  color: #757575;
  position: relative;
}

.right-menu-item:nth-child(n + 5) {
  border-bottom: 1px solid #f5f5f5;
}
.right-menu-to-top {
  /* border-top: none; */
  margin-top: 18px;
}

.right-menu-item .iconfont {
  display: block;
  font-size: 30px;
  margin-top: 14px;
}

/* 弹出二维码 */
.right-menu-contain {
  position: absolute;
  top: 0;
  right: 96px;
  border: 1px solid #f5f5f5;
  width: 128px;
  padding: 14px;
  background: #fff;
  display: none;
}
.right-menu-contain img {
  width: 100px;
  height: 100px;
  margin-bottom: 15px;
}

.right-menu-contain p {
  color: #757575;
}
/* 三角形 */
.right-menu-contain::after {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  background: #fff;
  top: 20px;
  right: -9px;
  border: 1px solid #f5f5f5;
  border-left: 0;
  border-bottom: 0;
  /* 旋转角度 */
  transform: rotate(45deg);
}

.right-menu-item:hover .right-menu-contain {
  display: block;
}
